

<div  id="particles">
  <!-- <div class="row"> -->
    <!-- <div class="col-md-6 col-md-offset-3 text-center"> -->
      <div class="text-center" id="register">
        <h4 class="modal-title">Register to see all our awesome stuff</h4>            
        <%= form_for :user, url: register_path do |f| %>
          <span class="input input--hoshi">
            <%= f.text_field :email, class: "input__field input__field--hoshi" %>      
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="user_email">
              <span class="input__label-content input__label-content--hoshi">Email</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <%= f.password_field :password, class: "input__field input__field--hoshi" %>      
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="user_password">
              <span class="input__label-content input__label-content--hoshi">Password</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <%= f.password_field :password_confirmation, class: "input__field input__field--hoshi" %>      
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="user_password_confirmation">
              <span class="input__label-content input__label-content--hoshi">Password Confirmation</span>
            </label>
          </span>         
          <%= f.submit "Registrate", class: "btn btn-bai center-block title-spaced" %>
        <% end %>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>


<!-- LoginModal -->

<div class="modal" id="my_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Yay! Log in again all the times you want!</h4>
      </div>
      <div class="modal-body">
       <%= form_tag login_path do %>
         <%= text_field_tag :email, nil, placeholder: "email" %>
         <%= password_field_tag :password, nil, placeholder: "password" %>

         <%= submit_tag ("GO") %>
       <% end %>
      </div>
    </div><!--modal-content -->
  </div><!--modal-dialog  -->
</div><!--modal --> 
<!-- end LoginModal --> 






  