
<!-- ================================================= -->

  <div class="col-md-4">
    <h3 class="titles-grid text-right">NOTÍCIAS </h3>
     <hr class="grey-line">

     <div class="dropdown centered">
       <nav class="cl-effect-6">
          <a href="#" class="dropdown-toggle-3" type="button" id="dropdownMenu1">
           <h4 id="target-img"> TAGO ARTWORK </h4>
          </a>
        </nav>

      <ul class="dropdown-menu rss" id="dropdown-menu-links2">
    
        <li class="link-rss title-spaced text-center" role="presentation" data-type="a"><a role="menuitem" tabindex="-1" href="#">TAGO ARTWORK</a></li>
       
        <li class="link-rss title-spaced text-center" role="presentation" data-type="b"><a role="menuitem" tabindex="-1" href="#">Tago</a></li>
        <li class="link-rss title-spaced text-center" role="presentation" data-type="c"><a role="menuitem" tabindex="-1" href="#">Tago</a></li> 
        <li class="link-rss title-spaced text-center" role="presentation" data-type="d"><a role="menuitem" tabindex="-1" href="#">Tago</a></li>

      </ul>
    </div>
  
    <br>
    <% @tagos[0..7].each do |tago| %>
      <li >
        <%= link_to( tago.title, leaving_path(tago.id) ) %>
      </li>
    <hr>
    <% end %>
  </div>
  <!-- ================================================= -->


  <div class="col-md-8">
    <h3 class="titles-grid text-right">INSPIRACIÓN</h3>
     <hr class="grey-line">
    
   <div class="dropdown centered">
      <nav class="cl-effect-6">
        <a href="#" class="dropdown-toggle-bis" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
         <h4 id="target-img1"> DRIBBBLE </h4>
        </a>
      </nav>
    <ul class="dropdown-menu rss" id="dropdown-menu-links" role="menu" aria-labelledby="dropdownMenu1">
 
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link1" data-type="1"><a role="menuitem" tabindex="-1" href="#">DRIBBBLE</a></li>
     
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link2" data-type="2"><a role="menuitem" tabindex="-1" href="#">FFFFOUND</a></li>
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link3" data-type="3"><a role="menuitem" tabindex="-1" href="#">BEHANCE</a></li> 
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link4" data-type="4"><a role="menuitem" tabindex="-1" href="#">AWWWARDS</a></li>

    </ul>
  </div>

    <div id="1" class="img-rss">
      <ul class="list-group row ">
        <% @dribles[0..8].each do |drible| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href=" <%= leaving_path(drible.id) %>">
            <img src="<%= drible.img_url %>" class="img-responsive center-block img-grid">
           </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="2" class="img-rss">
      <ul class="list-group row">
        <% @founds[0..8].each do |found| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href="<%= leaving_path(found.id) %>"> <div class="found-img center-block" style="background-image:url('<%= found.img_url %>');"></div>
           
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="3" class="img-rss">
      <ul class="list-group row">
        <% @behances[0..8].each do |behance| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href="<%= leaving_path(behance.id) %>">
            <img src="<%= behance.img_url %>" class="img-responsive center-block img-grid">
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="4" class="img-rss">
      <ul class="list-group row">
        <% @awards[0..8].each do |award| %>
          <li class= "list-group-item list-grid col-xs-4">
            <a href="<%= leaving_path(award.id) %>">
              <img  src="<%= award.img_url %>" class="img-responsive center-block img-grid" >
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>
  

