
<div class="row">
  <div class="col-md-4">
    <h3>Notícias</h3>
    <br>
    <ul class="list-unstyled">
      <% @zipped_tago.each do |item| %>
        <li>
          <a href="<%= item[1]%>"><%= item[0] %></a>
        </li>    
      <hr>
      <% end %> 
    </ul>
  </div>

  <div class="col-md-8">
    <h3>Inspiración</h3>

    <br>
    <ul class="list-group row">
      <% @zipped_dribbble[0..8].each do |item| %>
        <li class= "list-group-item col-xs-4">
          <img src="<%= item[2] %>" class="img-responsive">
          <a href="<%= item[1]%>"><%= item[0] %></a>
        </li>    
      <% end %> 
    </ul>


</div>