
<!-- ================================================= -->

  <div class="col-md-4">
    <h4 class=" home-title text-left title-spaced">NOTÍCIAS </h4>
    

     <div class="dropdown centered">
       <nav class="cl-effect-6">
          <a href="#" class="dropdown-toggle-3 tago" type="button" id="dropdownMenu1">
           <h4 id="target-img" class="titles-grid"> TAGO ARTWORK </h4>
          </a> 
        </nav>

      <ul class="dropdown-menu rss" id="dropdown-menu-links2">
    
        <li class="link-rss title-spaced text-center" role="presentation" data-type="a"><a role="menuitem" tabindex="-1" href="#">TAGO ARTWORK</a></li>
       
        <li class="link-rss title-spaced text-center" role="presentation" data-type="b"><a role="menuitem" tabindex="-1" href="#">BRANDEMIA</a></li>
        <li class="link-rss title-spaced text-center" role="presentation" data-type="c"><a role="menuitem" tabindex="-1" href="#">Más cosas en proceso</a></li> 
        <li class="link-rss title-spaced text-center" role="presentation" data-type="d"><a role="menuitem" tabindex="-1" href="#">Más cosas en proceso</a></li>

      </ul>
    </div>
    <div id="a" class="link-rss-div">
      <ul class="list-unstyled">
      <br>
      <% @tagos.each do |tago| %>
        <li >
          <%= link_to( tago.title, leaving_path(tago.id)) %>
        </li>
      <hr>
      <% end %>
      </ul>
    </div>
    <div id="b" class="link-rss-div">
      <ul class="list-unstyled">
      <br>
      <% @brandemias.each do |brandemia| %>
        <li >
          <%= link_to( brandemia.title, leaving_path(brandemia.id)) %>
        </li>
      <hr>
      <% end %>
      </ul>
    </div>
  </div>
  <!-- ================================================= -->


  <div class="col-md-8">
    <h4 class="home-title text-left title-spaced">INSPIRACIÓN</h4>
    
    
   <div class="dropdown centered">
      <nav class="cl-effect-6">
        <a href="#" class="dropdown-toggle-bis tago" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
         <h4 id="target-img1" class="titles-grid"> DRIBBBLE </h4>
        </a>
      </nav>
    <ul class="dropdown-menu rss" id="dropdown-menu-links" role="menu" aria-labelledby="dropdownMenu1">
 
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link1" data-type="1"><a role="menuitem" tabindex="-1" href="#">DRIBBBLE</a></li>
     
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link2" data-type="2"><a role="menuitem" tabindex="-1" href="#">FFFFOUND</a></li>
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link3" data-type="3"><a role="menuitem" tabindex="-1" href="#">BEHANCE</a></li> 
      <li class="img-link-rss title-spaced text-center" role="presentation" id ="link4" data-type="4"><a role="menuitem" tabindex="-1" href="#">AWWWARDS</a></li>

    </ul>
  </div>

    <div id="1" class="img-rss">
      <ul class="list-group row ">
        <% @dribles.each do |drible| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href=" <%= leaving_path(drible.id) %>" target="_blank">
            <img src="<%= drible.img_url %>" class="img-responsive center-block img-grid">
           </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="2" class="img-rss">
      <ul class="list-group row">
        <% @founds.each do |found| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href="<%= leaving_path(found.id) %>" target="_blank"> <div class="found-img center-block" style="background-image:url('<%= found.img_url %>');"></div>
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="3" class="img-rss">
      <ul class="list-group row">
        <% @behances.each do |behance| %>
          <li class= "list-group-item list-grid col-xs-4">
          <a href="<%= leaving_path(behance.id) %>" target="_blank">
            <img src="<%= behance.img_url %>" class="img-responsive center-block img-grid">
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>

    <div id="4" class="img-rss">
      <ul class="list-group row">
        <% @awards.each do |award| %>
          <li class= "list-group-item list-grid col-xs-4">
            <a href="<%= leaving_path(award.id) %>" target="_blank">
              <img  src="<%= award.img_url %>" class="img-responsive center-block img-grid" >
            </a>
          </li>    
        <% end %> 
      </ul>
    </div>
  

