
<div class="row">
  <div class="col-md-4">
    <h3>Notícias</h3>
    <br>
    <ul class="list-unstyled">
      <% @zipped_tago.each do |item| %>
        <li>
          <a href="<%= item[1]%>"><%= item[0] %></a>
        </li>    
      <hr>
      <% end %> 
    </ul>
  </div>

  <div class="col-md-8">
    <h3>Inspiración</h3>

    <br>
    <ul class="list-unstyled">
      <% @zipped_dribbble.each do |item| %>
        <li>
          <img src="<%= item[2] %>">
          <a href="<%= item[1]%>"><%= item[0] %></a>
        </li>    
      <hr>
      <% end %> 
    </ul>

  </div>


</div>