
<div class="row">
  <div class="col-md-4">
    <h3>Notícias</h3>
    <br>
    <ul class="list-unstyled">
      <% @tagos.each do |tago| %>
        <li>
          <a href="<%= tago.url%>"><%= tago.title %></a>
        </li>    
      <hr>
      <% end %> 
    </ul>
  </div>

  <div class="col-md-8">
    <h3>Inspiración</h3>

    <br>
    <h4>Dribbble</h4>
    <ul class="list-group row">
      <% @dribles[0..8].each do |drible| %>
        <li class= "list-group-item col-xs-4">
        <a href="drible.url">
          <img src="<%= drible.img_url %>" class="img-responsive">
          <%= drible.title %></a>
        </li>    
      <% end %> 
    </ul>
    <br>

    <h4>Ffffound</h4>
    <ul class="list-group row">
      <% @founds[0..8].each do |found| %>
        <li class= "list-group-item col-xs-4">
        <a href="<%= found.url %>">
          <img src="<%= found.img_url %>" class="img-responsive">
          <%= found.title %></a>
        </li>    
      <% end %> 
    </ul>

    <h4>Behance</h4>
    <ul class="list-group row">
      <% @behances[0..8].each do |behance| %>
        <li class= "list-group-item col-xs-4">
        <a href="<%= behance.url %>">
          <img src="<%= behance.img_url %>" class="img-responsive">
          <%= behance.title %></a>
        </li>    
      <% end %> 
    </ul>

  
    <h4>Awwwards</h4>
    <ul class="list-group row">
      <% @awards[0..8].each do |award| %>
        <li class= "list-group-item col-xs-4">
          <a href="<%= award.url %>">
            <img src="<%= award.img_url %>" class="img-responsive" >
          </a>
        </li>    
      <% end %> 
    </ul>


</div>
